FORMAT: 1A
HOST: https://api.electricsoulapp.com

# Electric Soul App API
Electric Soul App API is a API service for the *Electric Soul iOS App -- a SNS provider for EDM community*

# Group Authentication
Authenticate resources of *Electric Soul API*.

The authentication has the following attributes:

- fbId - Facebook ID provided by *Facebook SDK* after successfully logged in / register. For authentication use only
- token - Expirable JWT access token generated by *Electric Soul API*

## Sign in [/user/login]
### Get a token [POST]

- If user is logged in for the first time, an empty user object with an id will be created automatically associated with the facebook id.
- isAdmin status should be stored locally

+ Request (application/json)

        { fbToken: "YMPnWPmGQI1Oz2xHkmsdLzAn2b0tT5tDoiJ8msTg",
        deviceId: "a22n1k2ey5rn6e9s52celpa5ygu2upa686uh3tcu" }

+ Response 200 (application/json)

        {
            accessToken: "eyJ0eXAiOiJKV1QiLA0KICJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJqb2UiLA0KICJleHAiOjEzMDA4MTkzODAsDQogImh0dHA6Ly9leGFtcGxlLmNvbS9pc19yb290Ijp0cnVlfQ.dBjftJeZ4CVP-mB92K27uhbUJU1p1r_wW1gFWFOEjXk",
            isAdmin: true,
            userId: 123
        }

## Sign out [/user/logout]
Expire token immediate and unregister device from push notification

### Sign out [POST]

+ Request (application/json)

    + Header

            x-access-token: "eyJ0eXAiOiJKV1QiLA0KICJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJqb2UiLA0KICJleHAiOjEzMDA4MTkzODAsDQogImh0dHA6Ly9leGFtcGxlLmNvbS9pc19yb290Ijp0cnVlfQ.dBjftJeZ4CVP-mB92K27uhbUJU1p1r_wW1gFWFOEjXk"
        
+ Response 204



# Group Users
Users related resources of **Electric Soul API*.

## User [/user/{userId}]
+ Parameter

    + userId (required, number, `123`) ... Numeric `userId` of any user's id.
    
### Get a user profile [GET]

+ Request (application/json)

    + Header
    
            x-access-token: "eyJ0eXAiOiJKV1QiLA0KICJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJqb2UiLA0KICJleHAiOjEzMDA4MTkzODAsDQogImh0dHA6Ly9leGFtcGxlLmNvbS9pc19yb290Ijp0cnVlfQ.dBjftJeZ4CVP-mB92K27uhbUJU1p1r_wW1gFWFOEjXk"


+ Response 200 (application/json)

            {
                image: "http://electricsoulapp.com/images/iphone.png",
                about: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.",
                name: "John Doe",
                email: "john.doe@example.com",
                event: [
                    going: [
                        {eventId: 123},
                        {eventId: 123}
                    ],
                    attended: [
                        {eventId: 123},
                        {eventId: 123}
                    }
                ],
                connections: {
                    followers: [
                        {userId: 123},
                        {userId: 123},
                    ],
                    followings: [
                        {userId: 123},
                        {userId: 123},
                    ],
                    plurs: [
                        {userId: 123},
                        {userId: 123},
                    ]
                }
            }
            

        

## User Image [/user/{userId}/image]

### Upload / update user profile image [POST]

Client needs to check if the user = self

+ Request (application/json)

    + Header
    
            x-access-token: "eyJ0eXAiOiJKV1QiLA0KICJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJqb2UiLA0KICJleHAiOjEzMDA4MTkzODAsDQogImh0dHA6Ly9leGFtcGxlLmNvbS9pc19yb290Ijp0cnVlfQ.dBjftJeZ4CVP-mB92K27uhbUJU1p1r_wW1gFWFOEjXk"
            
    + Body
        
            { 
                image: "http://electricsoulapp.com/images/iphone.png" 
            }
            
+ Response 200 (application/json)

        { success: true }
    
## Users [/users]
### Create / update a user profile [POST]

Except profile image

+ Request (application/json)

    + Header
    
            x-access-token: "eyJ0eXAiOiJKV1QiLA0KICJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJqb2UiLA0KICJleHAiOjEzMDA4MTkzODAsDQogImh0dHA6Ly9leGFtcGxlLmNvbS9pc19yb290Ijp0cnVlfQ.dBjftJeZ4CVP-mB92K27uhbUJU1p1r_wW1gFWFOEjXk"
    
    + Body
        
            {
                about: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.",
                name: "John Doe",
                email: "john.doe@example.com",
            }

+ Response 200 (application/json)

        { success: true }


## Query Users Collection [/users/query]
### Get a list of users by keyword [POST]

+ Request (application/json)

    + Header

            x-access-token: "eyJ0eXAiOiJKV1QiLA0KICJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJqb2UiLA0KICJleHAiOjEzMDA4MTkzODAsDQogImh0dHA6Ly9leGFtcGxlLmNvbS9pc19yb290Ijp0cnVlfQ.dBjftJeZ4CVP-mB92K27uhbUJU1p1r_wW1gFWFOEjXk"

    + Body
    
            { query: "john" }

+ Response 200 (application/json)
            
        {
            "users": [
                {
                    userId: 123,
                    name: "John Doe",
                    image: "http://electricsoulapp.com/images/iphone.png",
                    status: 1
                },
                {
                    userId: 123,
                    name: "John Doe",
                    image: "http://electricsoulapp.com/images/iphone.png",
                    status: 2
                },
                {
                    userId: 123,
                    name: "John Doe",
                    image: "http://electricsoulapp.com/images/iphone.png",
                    status: 3
                },
                {
                    userId: 123,
                    name: "John Doe",
                    image: "http://electricsoulapp.com/images/iphone.png",
                    status: 4
                }
            ],
            "total": 4,
            "page": 1
        }

## Follow User [/user/{userId}/follow]
+ Parameter

    + userId (required, number, `123`) ... Numeric `userId` of any user's id.
    
### Follow a user [PUT]
+ Request (application/json)

    + Header

            x-access-token: "eyJ0eXAiOiJKV1QiLA0KICJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJqb2UiLA0KICJleHAiOjEzMDA4MTkzODAsDQogImh0dHA6Ly9leGFtcGxlLmNvbS9pc19yb290Ijp0cnVlfQ.dBjftJeZ4CVP-mB92K27uhbUJU1p1r_wW1gFWFOEjXk"

+ Response 204

## UnFollow User [/user/{userId}/unfollow]
+ Parameter

    + userId (required, number, `123`) ... Numeric `userId` of any user's id.
    
### Unfollow / unplur a user [PUT]
+ Request (application/json)

    + Header

            x-access-token: "eyJ0eXAiOiJKV1QiLA0KICJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJqb2UiLA0KICJleHAiOjEzMDA4MTkzODAsDQogImh0dHA6Ly9leGFtcGxlLmNvbS9pc19yb290Ijp0cnVlfQ.dBjftJeZ4CVP-mB92K27uhbUJU1p1r_wW1gFWFOEjXk"

+ Response 204

## Facebook friends [/user/facebook]
### Find friends on Facebook [POST]

Users who are "friends" on Facebook and using the app

- fbId - A list of Facebook IDs from the current logged in user's facebook friends

+ Request (application/json)

    + Header

            x-access-token: "eyJ0eXAiOiJKV1QiLA0KICJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJqb2UiLA0KICJleHAiOjEzMDA4MTkzODAsDQogImh0dHA6Ly9leGFtcGxlLmNvbS9pc19yb290Ijp0cnVlfQ.dBjftJeZ4CVP-mB92K27uhbUJU1p1r_wW1gFWFOEjXk"

    + Body
        
            {
                [
                    { fbId: 1032326715 },
                    { fbId: 1032326715 },
                    { fbId: 1032326715 },
                    { fbId: 1032326715 }
                ],
                total: 4
            }
            
+ Response 200 (application/json)
            
        {
            followers: {
                [{
                    userId: 123,
                    name: "John Doe",
                    image: "http://electricsoulapp.com/images/iphone.png"
                }],
                "total": 1
            },
            followings: {
                [{
                    userId: 123,
                    name: "John Doe",
                    image: "http://electricsoulapp.com/images/iphone.png"
                }],
                "total": 1
            },
            plurs: {
                [{
                    userId: 123,
                    name: "John Doe",
                    image: "http://electricsoulapp.com/images/iphone.png"
                }],
                "total": 1
            },
            others: {
                [{
                    userId: 123,
                    name: "John Doe",
                    image: "http://electricsoulapp.com/images/iphone.png"
                }],
                "total": 1
            }
        }

## Is admin [/user/{userId}/is_admin]
    
### Check is admin [GET]

+ Request (applicaton/json)

    + Header

            x-access-token: "eyJ0eXAiOiJKV1QiLA0KICJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJqb2UiLA0KICJleHAiOjEzMDA4MTkzODAsDQogImh0dHA6Ly9leGFtcGxlLmNvbS9pc19yb290Ijp0cnVlfQ.dBjftJeZ4CVP-mB92K27uhbUJU1p1r_wW1gFWFOEjXk"
            
+ Response 200 (application/json)

        { isAdmin: true }


# Group Events
Events related resources of **Electric Soul API*.

## Events [/events]
### Get a list of upcoming events [GET]

+ Request (applicaton/json)

    + Header

            x-access-token: "eyJ0eXAiOiJKV1QiLA0KICJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJqb2UiLA0KICJleHAiOjEzMDA4MTkzODAsDQogImh0dHA6Ly9leGFtcGxlLmNvbS9pc19yb290Ijp0cnVlfQ.dBjftJeZ4CVP-mB92K27uhbUJU1p1r_wW1gFWFOEjXk"
        

+ Response 200 (application/json)
        
        {
            attended: [{
                    eventId: 123,
                    title: "DITCH Thursday w/ Bassjackers",
                    timedate: "2011-05-26T07:56:00.123Z",
                    location: "1600 Amphitheatre Pkwy, Mountain View, CA",
                    goingCount: 2,
                    friendCount: 2,
                    heroImage: "http://electricsoulapp.com/images/iphone.png"
                },
                {
                    eventId: 123,
                    title: "DITCH Thursday w/ Bassjackers",
                    timedate: "2011-05-26T07:56:00.123Z",
                    location: "1600 Amphitheatre Pkwy, Mountain View, CA",
                    goingCount: 2,
                    friendCount: 2,
                    heroImage: "http://electricsoulapp.com/images/iphone.png"
                }],
            upcoming: [{
                    eventId: 123,
                    title: "DITCH Thursday w/ Bassjackers",
                    timedate: "2011-05-26T07:56:00.123Z",
                    location: "1600 Amphitheatre Pkwy, Mountain View, CA",
                    goingCount: 2,
                    friendCount: 2,    
                    heroImage: "http://electricsoulapp.com/images/iphone.png"
                },
                {
                    eventId: 123,
                    title: "DITCH Thursday w/ Bassjackers",
                    timedate: "2011-05-26T07:56:00.123Z",
                    location: "1600 Amphitheatre Pkwy, Mountain View, CA",
                    goingCount: 2,
                    friendCount: 2,
                    heroImage: "http://electricsoulapp.com/images/iphone.png"
                }],
            going: [{
                    eventId: 123,
                    title: "DITCH Thursday w/ Bassjackers",
                    timedate: "2011-05-26T07:56:00.123Z",
                    location: "1600 Amphitheatre Pkwy, Mountain View, CA",
                    goingCount: 2,
                    friendCount: 2,
                    heroImage: "http://electricsoulapp.com/images/iphone.png"
                },
                {
                    eventId: 123,
                    title: "DITCH Thursday w/ Bassjackers",
                    timedate: "2011-05-26T07:56:00.123Z",
                    location: "1600 Amphitheatre Pkwy, Mountain View, CA",
                    goingCount: 2,
                    friendCount: 2,
                    heroImage: "http://electricsoulapp.com/images/iphone.png"
                }]
        }


### Create an event [PUT]
+ Request (application/json)

    + Header

            x-access-token: "eyJ0eXAiOiJKV1QiLA0KICJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJqb2UiLA0KICJleHAiOjEzMDA4MTkzODAsDQogImh0dHA6Ly9leGFtcGxlLmNvbS9pc19yb290Ijp0cnVlfQ.dBjftJeZ4CVP-mB92K27uhbUJU1p1r_wW1gFWFOEjXk"
            
    + Body
    
                {
                    title: "DITCH Thursday w/ Bassjackers",
                    description: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.",
                    heroImage: "http://electricsoulapp.com/images/iphone.png",
                    startTimeDate: "2011-05-26T07:56:00.123Z",
                    endTimeDate: "2011-05-26T07:56:00.123Z", 
                    location: "1600 Amphitheatre Pkwy, Mountain View, CA",
                    genre: "Ambient dub, Ambient industrial",
                    ticketUrl: "http://www.ticketmaster.com.mx/event/14004D1687C44C32"
                }
            
+ response 200 (application/json)

        { success: true }



## Event [/event/{eventId}]

+ Parameter

    + eventId (required, number, `1`) ... Numeric `eventId` of the Note to perform action with. Has example value.
        

### Get an event detail [GET]
+ Request (application/json)

    + Header

            x-access-token: "eyJ0eXAiOiJKV1QiLA0KICJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJqb2UiLA0KICJleHAiOjEzMDA4MTkzODAsDQogImh0dHA6Ly9leGFtcGxlLmNvbS9pc19yb290Ijp0cnVlfQ.dBjftJeZ4CVP-mB92K27uhbUJU1p1r_wW1gFWFOEjXk"

            
+ Response 200 (application/json)

                {
                    title: "DITCH Thursday w/ Bassjackers",
                    description: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.",
                    heroImage: "http://electricsoulapp.com/images/iphone.png",
                    startTimeDate: "2011-05-26T07:56:00.123Z",
                    endTimeDate: "2011-05-26T07:56:00.123Z", 
                    location: "1600 Amphitheatre Pkwy, Mountain View, CA",
                    genre: "Ambient dub, Ambient industrial",
                    ticketUrl: "http://www.ticketmaster.com.mx/event/14004D1687C44C32"
                    goingCount: 2,
                    friendCount: 2
                }
            
### Update an event detail [POST]

Client should check if current user is Admin.

+ Request (application/json)

    + Header

            x-access-token: "eyJ0eXAiOiJKV1QiLA0KICJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJqb2UiLA0KICJleHAiOjEzMDA4MTkzODAsDQogImh0dHA6Ly9leGFtcGxlLmNvbS9pc19yb290Ijp0cnVlfQ.dBjftJeZ4CVP-mB92K27uhbUJU1p1r_wW1gFWFOEjXk"
            
    + Body
    
                {
                    eventId: 123,
                    title: "DITCH Thursday w/ Bassjackers",
                    description: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.",
                    heroImage: "http://electricsoulapp.com/images/iphone.png",
                    startTimeDate: "2011-05-26T07:56:00.123Z",
                    endTimeDate: "2011-05-26T07:56:00.123Z", 
                    location: "1600 Amphitheatre Pkwy, Mountain View, CA",
                    genre: "Ambient dub, Ambient industrial",
                    ticketUrl: "http://www.ticketmaster.com.mx/event/14004D1687C44C32"
                }
                
+ Response 200 (application/json)

        { success: true }



## Event Attendents [/event/{eventId}/goings]

+ Parameter

    + eventId (required, number, `1`) ... Numeric `eventId` of the Note to perform action with. Has example value.
    
### Get a list of attendents [GET]

+ Request (application/json)    

    + Header

            x-access-token: "eyJ0eXAiOiJKV1QiLA0KICJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJqb2UiLA0KICJleHAiOjEzMDA4MTkzODAsDQogImh0dHA6Ly9leGFtcGxlLmNvbS9pc19yb290Ijp0cnVlfQ.dBjftJeZ4CVP-mB92K27uhbUJU1p1r_wW1gFWFOEjXk"
            
+ Response 200 (application/json)

        {
            followers: {
                [{
                    userId: 123,
                    name: "John Doe",
                    image: "http://electricsoulapp.com/images/iphone.png"
                }],
                "total": 1
            },
            followings: {
                [{
                    userId: 123,
                    name: "John Doe",
                    image: "http://electricsoulapp.com/images/iphone.png"
                }],
                "total": 1
            },
            plurs: {
                [{
                    userId: 123,
                    name: "John Doe",
                    image: "http://electricsoulapp.com/images/iphone.png"
                }],
                "total": 1
            },
            others: {
                [{
                    userId: 123,
                    name: "John Doe",
                    image: "http://electricsoulapp.com/images/iphone.png"
                }],
                "total": 1
            }
        }
        
## Attend Event [/event/{eventId}/attend]

+ Parameter

    + eventId (required, number, `1`) ... Numeric `eventId` of the Note to perform action with. Has example value.
    
### "Attend" an event [PUT]
+ Request (application/json)

    + Header

            x-access-token: "eyJ0eXAiOiJKV1QiLA0KICJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJqb2UiLA0KICJleHAiOjEzMDA4MTkzODAsDQogImh0dHA6Ly9leGFtcGxlLmNvbS9pc19yb290Ijp0cnVlfQ.dBjftJeZ4CVP-mB92K27uhbUJU1p1r_wW1gFWFOEjXk"

+ response 204

## Attend Event [/event/{eventId}/unattend]

+ Parameter

    + eventId (required, number, `1`) ... Numeric `eventId` of the Note to perform action with. Has example value.
    
### "Unattend" an event [PUT]

+ Request (application/json)

    + Header

            x-access-token: "eyJ0eXAiOiJKV1QiLA0KICJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJqb2UiLA0KICJleHAiOjEzMDA4MTkzODAsDQogImh0dHA6Ly9leGFtcGxlLmNvbS9pc19yb290Ijp0cnVlfQ.dBjftJeZ4CVP-mB92K27uhbUJU1p1r_wW1gFWFOEjXk"

+ response 204


# Group Settings 
<!--TODO: Get notification setting-->
<!--TODO: Update notification setting-->
<!--TODO: Get information-->
<!--TODO: Report bug-->